<div class="conti master">

    <div class="input_element">
        <label class="left_label useicon" for="name"> <i class="fas fa-user"></i> </label>
        <input class="right_input" type="text" id="name">
    </div>

    <div class="input_row">

        <div class="input_element" style="margin-top: 0px;">
            <label class="left_label useicon" for="name"> <i class="fas fa-file-invoice"></i> </label>
            <input class="right_input" type="text" id="name">
        </div>
    
        <div class="input_element" style="margin-top: 0px;">
            <label class="left_label useicon" for="name"> <i class="fas fa-phone-alt"></i> </label>
            <input class="right_input" type="text" id="name">
        </div>

    </div>

    

    <div class="input_element" style="height: 85px; display: block;">
        <label class="left_label full_wide" style="margin-bottom: 0px;" for="name"> D I R E C C I O N </label>
        <textarea class="right_input"></textarea>
    </div>
</div>

<div class="conti detalle">

</div>

<div class="conti total" style="height: 55px;">
    <div class="input_element">
        <input class="right_input" type="text" id="name">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="login()" style="font-weight: bold; max-width: 35px;"><i class="fas fa-eject"></i></button>
    </div>
</div>
