.master{
    height: 200px;
}

.detalle{
    height: 175px;
}



textarea {
    resize: none;
    height: 50px; 
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow:auto;
  }



/* Master  ***************************************************************************************************************************/
/* Detalle ***************************************************************************************************************************/
/* Control ***************************************************************************************************************************/


