<div class="gblconti" id="logback">

    <div class="conti" id="logimg">

    </div>
    <div class="conti" id="logform">
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text myspan" for="inputGroupSelect01">Empleado</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Seleccionar...</option>
              <option value="1">Saul</option>
              <option value="2">Sandra</option>
              <option value="3">Walter</option>
              <option value="3">Ricardo</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text myspan" id="inputGroup-sizing-default">Password</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text myspan" style="width: 40px;" >
                    <input type="checkbox" id="exampleCheck1">
                </div>
            </div>
            <label class="form-check-label mycheck" for="exampleCheck1">Recordarme</label>
        </div>

       

        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="login()" style="font-weight: bold;">Ingresar</button>

    </div>
</div>



