
<div class="pos-f-t">
    <div class="collapse" id="navbarToggle">
        <div class="list-group">
            <a [routerLink]="['/cotizar']"  class="list-group-item list-group-item-action">Cotizar</a>
            <a [routerLink]="['/reportes']"     class="list-group-item list-group-item-action">Reportes</a>
            <a [routerLink]="['/info']"     class="list-group-item list-group-item-action">Info</a>
            <a [routerLink]="['/salir']"     class="list-group-item list-group-item-action">Salir</a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>